.nav-link {
    cursor:pointer;
  }

.body-container{

    display: table;
    height: 100%;
    width: 100%;
    text-align: center;

  }

  .body-text-span{

    display: table-cell;
    vertical-align: middle;

  }