<header>
  <div class="container header-background">
    <h1>Header</h1> 
  </div>
  <table>
    <tr>
  

        <th><a mat-stroked-button [color]="'success'" routerLink="" [class.activated]="currentUrl == '/'">
          HOME
        </a></th>
        <th><a mat-stroked-button [color]="'success'" routerLink="option1" [class.activated]="currentUrl == '/option1'">
          Option 1
        </a></th>
        <th><a mat-stroked-button [color]="'success'" routerLink="option2" [class.activated]="currentUrl == '/option2'">
          Option 2
        </a></th>
        <th><a mat-stroked-button [color]="'success'" routerLink="option3" [class.activated]="currentUrl == '/option3'">
          Option 3
        </a></th>
        <th><a mat-stroked-button [color]="'success'" routerLink="option4" [class.activated]="currentUrl == '/option4'">
          Option 4
        </a></th>
        <th><a mat-stroked-button [color]="'success'" routerLink="option5" [class.activated]="currentUrl == '/option5'">
          Option 5
        </a></th>        
        <th><a mat-stroked-button [color]="'success'" routerLink="option6" [class.activated]="currentUrl == '/option6'">
          Option 6
        </a></th>
    

  </tr>
</table>
<div *ngIf = "isavailable">
    <div class="announcement-banner" >

        <div >
            Web application Announcement click on X on the right side to make it go away
            <button (click)="myClickFunction($event)" ><span >x</span></button>
        </div>
    </div>
</div>
</header>